.left-content
  .name
    %p.name__user-name
      = current_user.name
    %form.name__submit
      %label.name__submit__label
        = link_to new_group_path do
          %i(class="fas fa-edit")
        = link_to edit_user_path(current_user) do
          %i(class="fas fa-cog")
  .group
    - current_user.groups.each do |group| 
      .text-box
        = link_to group_messages_path(group) do
          %p.text-box__group
            = group.name
          %p.text-box__message<まだメッセージがありません     